.input {
  background: #FFFFFF;
  border: 0.5px solid #D97474;
  border-radius: 8px;
  height: 35px;
  width: 100%;
  padding: 0 15px;
}

.code {
  display: block;
  text-align: center;
  font-size: 32px;
  width: 220px;
  margin: 0 auto;
  height: 60px;
}
